@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap");

.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

form {
  display: grid;
  margin-top: 20px;
  padding: 30px 20px;
  border: 1px solid;
  box-shadow: 2px 2px 10px 2px #CECECE;
  row-gap: 2em;
  border-radius: 3px;
  background-color: rgba(221, 220, 220, 0.1);
}

input, textarea {
  border: solid 1px;
  box-shadow: 2px 2px 10px 2px #CECECE;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 15px;
}

button {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #4E93B8;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  cursor: pointer;
}