@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.review-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding-bottom: 100px;
 
}

.checked{
  color: hotpink;
  font-size: 20px;
  padding-bottom: 40px;
}

.review-container h2 {
  font-size: 35px;
}

.review-container h3{
  font-size: 30px;
  
}

.review-container h4 {
  font-size: 30px;
  font-weight: normal;
}

.review-container p {
  margin: 0 auto;
  width:60%;
  text-align: center;
}

@media screen and (max-width: 400px){
  .checked{
    
    font-size: ;
    
  }
  
  .review-container h2 {
    font-size: 25px;
  }
  
  .review-container h3{
    font-size: 25px;
    
  }
  
  .review-container h4 {
    font-size: 25px;
    font-weight: normal;
  }
  
  .review-container p {
    margin: 0 auto;
    width:60%;
    text-align: center;
  }
}