html {
  box-sizing: border-box;
  padding: 0;
  /* height: 100%; */
}

.brand {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  height: 50%;
  margin-left: 10%;
  justify-content: space-around;
}

#statement {
  background-color: rgb(130, 130, 130, 0.5);
  height: fit-content;
  width: 45%;
  margin-top: 20px;
  border: black 1px solid;
  position: absolute;
  top: 280px;
  padding-left: 10px;
  line-height: 30px;
  border-radius: 5px;
}
.brand-pic {
  display: flex;
  align-items: center;
  
  height: 5%;
  
  justify-content: space-evenly;
  margin-bottom: 20%;
  
}

#hario {
  width: 17%;
  
}
#marzocco {
  width: 17%;
  
}
#kalita {
  width:17%;
  
}
#fellow {
  width:17%;
  
}
#bialetti{
  width:17%;
  
}

h2#shop {
  display: flex;
  justify-content: center;
  background-color: rgb(130, 130, 130, 0.5);
  border: black 1px solid;
  width: 100px;
  height: 40px;
  position: absolute;
  top: 200px;
  border-radius: 4px;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 45vw;
}

.slider-control-centerright,
.slider-control-centerleft {
  visibility: hidden;
}
div.slider-control-bottomcenter{
  visibility: hidden;
}

@media screen and (max-width: 1057px) {
  #statement {
    display: flex;
    width: 97vw;
    top: 577px;
    margin-left: -70px;
    position: unset;
    
  }
  h2#shop {
    visibility: hidden;
  }

  
}

@media screen and (max-width: 400px) {
  #statement {
    position: unset;
    width: 100vw;
    margin-left: 72%;
    height: fit-content;
    align-self: center;
    line-height: 40px;
    margin-top: -10px;
    background-color: #4e93b85a;
  }

  
  

  #statement h2{
    margin-left: 8px;
    margin-right: 8px;
  }
  .brand-pic{
    display: flex;
    flex-flow: row;
  }
  
}