@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


.products {
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Bitter;
  padding: 40px;
}

