@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap');

nav {
  background-color: #f1c587;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-style:groove;
  border-bottom-color: black;
  border-width: 3px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 20px; */
}

.logo {
  justify-content: center;
  width: 150px;
}

.user-welcome{
  /* color: black; */
  margin-top: -30px;
  padding: 3px 0;
  font-size: 1.5em;
  padding-bottom:20px;
}

.hamburger{
  width:20px;
  float: right;
  visibility: hidden;
  margin-right: 20px;
}



.nav-hamburger{
  background-color:rgba(208,180,159,.98);
  color: black;
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: -15px;
  border-style: groove;
  border-color:black;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
  font-weight:1000;
  font-size: 20px;
}




.nav-header {
  color:black;
  font-size: 40px;
  margin-top: -100px;
  
  margin-left: 20px;
  font-family: 'Vollkorn', serif;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.links {
  font-size: 25px;
  margin-top: -87px;  
  
  
}

@media screen and (max-width: 995px){
  .links{
    font-size: 20px;
    margin-top: -80px;
  }
  .nav-header{
    font-size: 30px;
    margin-top:-89px;
  }
  .user-welcome{
    margin-top: -35px;
  }
    
}

@media screen and (max-width: 830px){
  .links{
    font-size: 17px;
    margin-top: -75px;
    
  }
  .nav-header{
    font-size: 26px;
    margin-top: -88px;
  }
  .user-welcome{
    margin-top: -40px;
  }


}

@media screen and (max-width: 700px){
  .nav-header{
    color:#f1c587;
   visibility: hidden;
  }
  .logo{
    float: left;
  }
  .links{
    font-size:17px;
  }
}

@media screen and (max-width: 582px){
  .links{
    visibility: hidden;
  
  }
  .hamburger{
    visibility: visible;
    width:60px;
    margin-top:35px;
    
    }
    .links>{
      font-size:10px;
    }



}