@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap');

nav {
  background-color: #f1c587;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-width: 3px;
}

/* DESKTOP NAV STYLES ================================================== */

.desktop-nav {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
}

a.nav-header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  color:black;
  font-size: 40px;
  font-family: 'Vollkorn', serif;
  text-decoration: none;
  grid-column: 1 / 2;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.desktop-logo {
  height: 150px;
  grid-column: 2 / 3;
}

.desktop-console {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 3 / 4;
}

.user-welcome {
  font-size: 1.5em;
}

.desktop-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25em;
}

/* TABLET NAV STYLES ===================================================== */

@media screen and (max-width: 980px) {
  .nav-header {
    font-size: 32px;
  }
}

@media screen and (max-width: 820px) {
  .nav-header {
    font-size: 22px;
  }

  .desktop-links {
    font-size: 1em;
  }
}

/* MOBILE NAV STYLES ===================================================== */

  .mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }

  .mobile-logo {
    height: 100px;
  }

  .hamburger {
    padding-right: 5%;
    cursor: pointer;
  }

  .hamburger-links {
    position: fixed;
    right: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 300px;
    background-color: rgba(208, 180, 159, .98);
    color: black;
    border-color: black;
    border-style: groove;
    font-weight: 1000;
    font-size: 2em;
  }

  .hamburger-links>a {
    cursor: pointer;
  }

  .hamburger-links>a:hover {
    text-decoration: underline;
  }

/* SMALL MOBILE NAV STYLES =============================================== */

@media screen and (max-width: 350px) {
  .mobile-logo {
    height: 75px;
  }

  .hamburger-links {
    margin-top: 280px;
  }
}